

<div class="product-info" align="center">
    <p><h1>Welcome to homepage!</h1></p>
    <img class="image-responsive" style="max-height:300px" src="~/images/home-image.jpeg" alt="Gallery store" />
</div>

